<!DOCTYPE html>
<html>
<head>
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Expense Tracker</h1>
    <a href="{{ url_for('add') }}">Add Expense</a>
    <table border="1" cellpadding="10">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense[0] }}</td>
            <td>{{ expense[1] }}</td>
            <td>{{ expense[2] }}</td>
            <td>{{ expense[3] }}</td>
            <td>{{ expense[4] }}</td>
            <td>
                <a href="{{ url_for('update', expense_id=expense[0]) }}">Edit</a> |
                <a href="{{ url_for('delete', expense_id=expense[0]) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
